# Proyecto 2

## Resumen del proyecto

Aplica transformación de datos y entrena Modelos Avanzados para desarrollar con mayor profundidad tu modelo de Machine Learning. ¿Qué puedes aprender del problema que estás abordando mediante el estudio de tu propio modelo?

La realización y entrega del Proyecto es individual.

## Entregable

Un Notebook de Jupyter con la resolución de la consigna. El Notebook debe poder ejecutarse sin errores.

## Consigna

En este proyecto profundizarás lo desarrollado en el proyecto 01 (“Primer modelo de Machine Learning”). El objetivo es aplicar las técnicas incorporadas (Transformación de Datos, Optimización de Hiperparámetros, Modelos Avanzados, etc.) para generar un modelo que tenga un mejor desempeño que el modelo generado en el proyecto anterior. Luego, interpreta ese modelo para responder la siguiente pregunta: ¿qué podemos aprender de nuestro problema estudiando el modelo que generamos?

## PARTE A - Transformación de Datos

Elige cuáles de las siguientes tareas son apropiadas para su dataset. Implementa las transformaciones que elegiste. Es importante que justifiques por qué las haces:

* Detección y eliminación de Outliers
* Encoding
* Imputación de valores faltantes
* Escalado de datos
* Generación de nuevas variables predictoras/reducción de dimensionalidad (SVD/PCA).

## PARTE B - Modelos Avanzados

1. Elige dos de los modelos avanzados vistos Compara con el desempeño obtenido en el proyecto 01 (en el caso de regresión, considera una regresión lineal con atributos polinómicos y regularización). Entrénalos y evalúalos con sus argumentos por defecto. No te olvides de hacer un train/test split y usar Validación Cruzada.
2. Optimiza sus hiperparámetros mediante Validación Cruzada y Grid Search o Random Search.
3. Compara el desempeño de los nuevos modelos entre sí y con el modelo de la Parte A. ¿Cuál elegirías? Justifica.

## PARTE C - Interpretación de modelos

De acuerdo a lo que el modelo permite, responde algunas o todas las siguientes preguntas:

* ¿Qué variables fueron relevantes para el modelo para hacer una predicción? ¿Cuáles no? Si usaste una regresión lineal con regularización, presta atención a los parámetros (pendientes) obtenidas. Si usaste un modelo de ensamble en árboles, además de ver la importancia de cada atributo, también elige algunos árboles al azar y observa qué atributos considera importantes. ¿En qué se diferencian esos árboles? ¿Por qué? Finalmente, responde, ¿coincide con lo que esperabas a partir de tu experiencia con este dataset?
* ¿Cómo es la distribución de errores (regresión) o qué clases se confunden entre sí (clasificación)? ¿Dónde falla? ¿A qué se debe?

## DESAFÍO OPCIONAL

Aplica una técnica de Clustering sobre el dataset. Puedes combinar con técnicas de reducción de dimensionalidad para facilitar la visualización. ¿Qué clusters encuentras? ¿A qué pueden corresponder? Te dejamos preguntas que pueden servir como disparadoras: ¿qué barrios se parecen más entre sí?¿qué tipos de propiedades se parecen más entre sí?

In [102]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from prettytable import PrettyTable
from pandas import plotting
from matplotlib.ticker import ScalarFormatter
from matplotlib import gridspec
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import LocalOutlierFactor
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
import math
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA
from sklearn.decomposition import TruncatedSVD

import xgboost as xgb
from xgboost import plot_importance
from sklearn.ensemble import RandomForestRegressor
from sklearn import tree as Arbol
from sklearn.tree import export_graphviz
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import AdaBoostRegressor



from sklearn.ensemble import StackingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.cluster import KMeans



#Librerias a instalar
import sys
import pandas_profiling as pdp
import gc

In [103]:
dp= pd.read_csv('DS_Proyecto_01_Datos_Properati.csv')
dp = pd.DataFrame(dp)
dp.head()

,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,title,description,property_type,operation_type
0,2019-10-17,2019-12-23,2019-10-17,-34.605880,-58.384949,Argentina,Capital Federal,San Cristobal,7.0,7.0,2.0,140.0,140.0,153000.0,USD,"***Venta semipiso centro, ideal hostel*****",DESCRIPCION DE LA PROPIEDAD: Departamento de 1...,Departamento,Venta
1,2019-10-17,2019-11-21,2019-10-17,-34.624056,-58.412110,Argentina,Capital Federal,Boedo,2.0,1.0,2.0,70.0,58.0,159000.0,USD,Espectacular PH reciclado en Boedo sin expensas.,PH reciclado en Boedo a una cuadra de la plaz...,PH,Venta
2,2019-10-17,2019-11-01,2019-10-17,-34.593569,-58.427474,Argentina,Capital Federal,Palermo,2.0,1.0,1.0,45.0,45.0,125000.0,USD,Depto.tipo casa de 2 ambientes en Venta en Pal...,"2 ambienets amplio , excelente estado , patio ...",PH,Venta
3,2019-10-17,2019-12-23,2019-10-17,-34.581294,-58.436754,Argentina,Capital Federal,Palermo,2.0,1.0,1.0,85.0,50.0,295000.0,USD,COSTA RICA 5800 / PALERMO HOLLYWOOD / VENTA PH...,HERMOSO PH EN PALERMO!!!2 AMBIENTES TOTALMENTE...,PH,Venta
4,2019-10-17,2020-03-11,2019-10-17,-34.914194,-57.938219,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,2.0,1.0,1.0,50.0,35.0,40000.0,USD,58 entre 1 y 2 Venta de departamento en ph.1 ...,58 entre 1 y 2 Venta de departamento en PH. P...,PH,Venta

In [3]:
dp.shape

(146660, 19)

In [4]:
print(list(dp.columns))

['start_date', 'end_date', 'created_on', 'lat', 'lon', 'l1', 'l2', 'l3', 'rooms', 'bedrooms', 'bathrooms', 'surface_total', 'surface_covered', 'price', 'currency', 'title', 'description', 'property_type', 'operation_type']

### Tipos de propiedades

In [5]:
print(dp['property_type'].unique()) 
print(dp['property_type'].value_counts())
fig, ax= plt.subplots(figsize= (9,7))
gr=sns.countplot(data = dp, y = "property_type", ax=ax)
gr.set(xscale='log')

['Departamento' 'PH' 'Casa' 'Lote' 'Casa de campo' 'Oficina' 'Otro'
 'Local comercial' 'Cochera' 'Depósito']
Departamento       107326
Casa                21521
PH                  14298
Lote                 1312
Oficina               658
Otro                  374
Local comercial       325
Casa de campo         322
Depósito              265
Cochera               259
Name: property_type, dtype: int64

[None]

En este grafico veremos las regiones donde se encuentran las propiedades

In [6]:
fig= plt.subplots(figsize=(20,18),constrained_layout=True)
grid = gridspec.GridSpec(2, 1, height_ratios=[1, 3])

ax1=plt.subplot(grid[0])
sns.countplot(data=dp,y="l2",order=dp["l2"].value_counts().index,ax=ax1,color="g")

ax1.set_yticklabels(ax1.get_yticklabels(),fontsize="medium")
ax1.set_title("Distribucion segun el G.B.A.", fontsize= 'large')

ax2=plt.subplot(grid[1])
sns.countplot(data=dp,x="l3",order=dp["l3"].value_counts().index,ax=ax2,color="b")


ax2.set_title("Distribucion segun barrios", fontsize= 'large')
ax2.set_xticklabels(ax2.get_xticklabels(),rotation=90,ha="right")
plt.yticks(fontsize= 11)
ax1.grid()
ax2.grid()
plt.show()

<ipython-input-6-aa738712869f>:19: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()
C:\Users\LENOVO\anaconda3\envs\datascience\lib\site-packages\IPython\core\events.py:89: UserWarning: There are no gridspecs with layoutgrids. Possibly did not call parent GridSpec with the "figure" keyword
  func(*args, **kwargs)

In [7]:
dp.isnull().sum()

start_date             0
end_date               0
created_on             0
lat                 9925
lon                 9959
l1                     0
l2                     0
l3                     0
rooms                  0
bedrooms               0
bathrooms           5957
surface_total      20527
surface_covered    21614
price                  0
currency               0
title                  0
description            0
property_type          0
operation_type         0
dtype: int64

In [8]:
dp["property_type"].unique()

array(['Departamento', 'PH', 'Casa', 'Lote', 'Casa de campo', 'Oficina',
       'Otro', 'Local comercial', 'Cochera', 'Depósito'], dtype=object)

In [9]:
dp["property_type"].value_counts()

Departamento       107326
Casa                21521
PH                  14298
Lote                 1312
Oficina               658
Otro                  374
Local comercial       325
Casa de campo         322
Depósito              265
Cochera               259
Name: property_type, dtype: int64

In [10]:
dp = dp[((dp['property_type'] == "Departamento") |(dp['property_type'] == "Casa") | (dp['property_type'] == "PH"))  & (dp['l2'] == "Capital Federal")] 
dp.shape

(91485, 19)

Ajustamos la superficie ya que hay demasiados valores que van contra la logica, asi que pueden ser corregidos como los valores de superficie cubierta menores a la superficie total

In [11]:
sns.scatterplot(data=dp, x='surface_total', y='surface_covered')
plt.grid()
plt.show()

<ipython-input-11-2d08eee9042b>:3: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()
C:\Users\LENOVO\anaconda3\envs\datascience\lib\site-packages\IPython\core\events.py:89: UserWarning: There are no gridspecs with layoutgrids. Possibly did not call parent GridSpec with the "figure" keyword
  func(*args, **kwargs)

In [12]:
dp.drop(dp.loc[dp['surface_covered'] > dp['surface_total']].index,inplace=True ,axis=0)

In [13]:
sns.scatterplot(data=dp, x='surface_total', y='surface_covered')
plt.grid()
plt.show()

<ipython-input-13-2d08eee9042b>:3: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()
C:\Users\LENOVO\anaconda3\envs\datascience\lib\site-packages\IPython\core\events.py:89: UserWarning: There are no gridspecs with layoutgrids. Possibly did not call parent GridSpec with the "figure" keyword
  func(*args, **kwargs)

In [14]:
dp.shape

(90725, 19)

### Identificacion de columnas con un solo valor

In [15]:
for i in range(dp.shape[1]):
    print(i,len(pd.unique(dp.iloc[:,i])))

0 362
1 408
2 362
3 31132
4 31401
5 1
6 1
7 57
8 19
9 16
10 14
11 716
12 572
13 5179
14 1
15 42579
16 57932
17 3
18 1

Ya que los valores con valores unicos tienen cero varianza y pueden afectar al entrenamiento del algoritmo se decide eliminar las variables L1, L2, currency y Operation_type

In [16]:
dp = dp.drop(["l1","l2","currency","operation_type"],axis=1)

In [17]:
dp.columns

Index(['start_date', 'end_date', 'created_on', 'lat', 'lon', 'l3', 'rooms',
       'bedrooms', 'bathrooms', 'surface_total', 'surface_covered', 'price',
       'title', 'description', 'property_type'],
      dtype='object')

### Identificacion de columnas con pocos valores

In [18]:
for i in range(dp.shape[1]):
    num=len(pd.unique(dp.iloc[:,i]))
    porcentaje=float(num)/dp.shape[0]*100
    print("%d, %d, %.1f%%"%(i,num,porcentaje))

0, 362, 0.4%
1, 408, 0.4%
2, 362, 0.4%
3, 31132, 34.3%
4, 31401, 34.6%
5, 57, 0.1%
6, 19, 0.0%
7, 16, 0.0%
8, 14, 0.0%
9, 716, 0.8%
10, 572, 0.6%
11, 5179, 5.7%
12, 42579, 46.9%
13, 57932, 63.9%
14, 3, 0.0%

Debido a que solo se esta trabajando con 3 tipos de propiedad la columna property_type es muy pequeña

### Identificacion de filas con datos duplicados

In [19]:
duplicado = dp.duplicated()
print(duplicado.any())
print(dp[duplicado])

True
        start_date    end_date  created_on        lat        lon  \
7       2019-10-17  2019-10-31  2019-10-17 -34.600988 -58.433061
9       2019-10-17  2019-12-23  2019-10-17 -34.639598 -58.419612
40      2019-10-17  2019-10-22  2019-10-17 -34.597613 -58.416688
48      2019-10-17  2019-10-27  2019-10-17 -34.597613 -58.416688
51      2019-10-17  2019-11-15  2019-10-17 -34.577746 -58.431085
...            ...         ...         ...        ...        ...
146162  2019-07-31  2019-08-14  2019-07-31 -34.578066 -58.426532
146171  2019-07-31  2019-08-14  2019-07-31 -34.578066 -58.426532
146173  2019-07-31  2019-09-04  2019-07-31 -34.575165 -58.431149
146497  2019-07-31  2019-09-04  2019-07-31        NaN        NaN
146546  2019-07-31  2020-01-17  2019-07-31        NaN        NaN

                      l3  rooms  bedrooms  bathrooms  surface_total  \
7           Villa Crespo    2.0       1.0        1.0           70.0
9       Parque Patricios    1.0       1.0        1.0           45.0
40               Palermo    2.0       1.0        1.0           49.0
48               Palermo    2.0       1.0        1.0           49.0
51               Palermo    2.0       1.0        1.0           46.0
...                  ...    ...       ...        ...            ...
146162           Palermo    2.0       1.0        1.0           45.0
146171           Palermo    3.0       2.0        2.0           72.0
146173           Palermo    4.0       3.0        2.0           75.0
146497           Palermo    2.0       1.0        1.0           62.0
146546           Palermo    3.0       2.0        2.0           89.0

        surface_covered     price  \
7                  70.0  159500.0
9                  37.0   89000.0
40                 41.0  169000.0
48                 41.0  169000.0
51                 40.0  145000.0
...                 ...       ...
146162             41.0  150000.0
146171             67.0  224999.0
146173             75.0  205000.0
146497             58.0  168000.0
146546             82.0  434999.0

                                                    title  \
7       Depto.tipo casa de 2 ambientes en Venta en Vil...
9       PH SIN EXPENSAS, AMPLIO MONOAMBIENTE DIVISIBLE...
40      Oportunidad - CON COCHERA !! Excelente ubicaci...
48      Oportunidad - CON COCHERA !! Excelente ubicaci...
51      U$S 145.000 - 2 amb en Duplex - Palermo - Char...
...                                                   ...
146162                               Torre Fitz Roy 2 amb
146171  Duplex con excelentes vistas panorámicas de la...
146173  Venta. Departamento. 4 Ambientes. 75m². Bajas ...
146497  VENTA LANZAMIENTO - DOS AMBIENTES - PALERMO HO...
146546            Quo Palermo 3 amb a la venta a estrenar

                                              description property_type
7       Muy lindo PH, con terraza propia, 96m2! por es...            PH
9       VENTA DE PH, EN EXCELENTE ESTADO, EN PARQUE PA...            PH
40      Para Visitarlo contactarse al 01161534481 Mart...  Departamento
48      Para Visitarlo contactarse al 01161534481 Mart...  Departamento
51      Charcas 5200Palermo2 ambientes en Dúplex.45.68...  Departamento
...                                                   ...           ...
146162  Amplio departamento de 1amb y medio divible A ...  Departamento
146171  UNIDAD RETASADA SE LE BAJARON u$s 20.000 (Escu...  Departamento
146173  CARACTERÍSTICAS- Ambientes: 4.- Superficie tot...  Departamento
146497  ******LANZAMIENTO DESDE EL POZO, UBICADO EN LA...  Departamento
146546  Edifico Quo Palermo Paraguay 4445Piso alto 81m...  Departamento

[1611 rows x 15 columns]

Se conciderará valores duplicados a los que tengan todos los valores iguales en todas las columnas

### Eliminacion de Filas Duplicadas

In [20]:
print(dp.shape)
dp.drop_duplicates(inplace=True)
print(dp.shape)

(90725, 15)
(89114, 15)

In [21]:
dp = dp.drop(["start_date","end_date","title","description"],axis=1)

In [22]:
fig =plt.subplots(figsize=(8,8))
sns.heatmap(dp.corr(), annot=True)

## Imputacion de valores faltantes

In [23]:
dp1 = dp.copy()

In [24]:
dp1.isnull().sum()

created_on            0
lat                4376
lon                4390
l3                    0
rooms                 0
bedrooms              0
bathrooms          2139
surface_total      8717
surface_covered    9024
price                 0
property_type         0
dtype: int64

### Imputacion Estadistica

In [25]:
X= dp[["rooms", "bedrooms", "bathrooms", "surface_total", "surface_covered"]].copy()
y= dp[["price"]].copy()

## Imputacion estadistica

In [26]:
tabla = PrettyTable()
tabla.field_name = ["Estrategia", "RMSE_train", "RMSE_test", "R2_train", "R2_test"]
strategies= ["mean", "median", "most_frequent", "constant"]
for s in strategies:
    imputer=SimpleImputer(strategy=s)
    imputer.fit(X)
    X_t=imputer.transform(X)
    X_train,X_test,y_train,y_test=train_test_split(X_t,y,test_size=0.3,random_state=42)
    
    tree= DecisionTreeRegressor(max_depth=16,random_state=42)
    tree.fit(X_train,y_train)
    
    y_pred_test = tree.predict(X_test)
    y_pred_train= tree.predict(X_train)
    
    r2_train = r2_score(y_train, y_pred_train)
    RMSE_train= np.sqrt(mean_squared_error(y_train, y_pred_train))
    
    r2_test=r2_score(y_test, y_pred_test)
    RMSE_test=np.sqrt(mean_squared_error(y_test,y_pred_test))
    
    tabla.add_row([s,RMSE_train,RMSE_test,r2_train,r2_test])
print(tabla)

+---------------+-------------------+--------------------+--------------------+--------------------+
|    Field 1    |      Field 2      |      Field 3       |      Field 4       |      Field 5       |
+---------------+-------------------+--------------------+--------------------+--------------------+
|      mean     | 81978.28332435367 | 248935.3762235474  | 0.9257390779408119 | 0.5218848083806721 |
|     median    | 82054.06360709928 | 252495.83086266712 | 0.9256017216931834 | 0.5081102995332547 |
| most_frequent | 81306.28574689281 | 247890.21389577806 | 0.9269515606383576 | 0.5258911410683891 |
|    constant   | 80686.89580240553 | 249579.45388315487 | 0.9280602849828363 | 0.5194075253716007 |
+---------------+-------------------+--------------------+--------------------+--------------------+

Mediante esta estrategia se determina que most_frecuent o moda es la mejor forma de imputar los valores faltantes

### Imputacion KNN

In [27]:
vecinos= [5,6,7,8,9,10]
tabla2=PrettyTable()
tabla2.field_names=["Vecinos", "RMSE_train", "RMSE_test", "R2_train", "R2_test"]
for v in vecinos:
    KNN_imputer= KNNImputer(n_neighbors=v)
    KNN_imputer.fit(X)
    X_knn= KNN_imputer.transform(X)
    X_train,X_test,y_train,y_test=train_test_split(X_knn,y,test_size=0.3,random_state=42)
    
    tree= DecisionTreeRegressor(max_depth=16,random_state=42)
    tree.fit(X_train,y_train)
    
    y_pred_test = tree.predict(X_test)
    y_pred_train= tree.predict(X_train)
    
    r2_train = r2_score(y_train, y_pred_train)
    RMSE_train= np.sqrt(mean_squared_error(y_train, y_pred_train))
    
    r2_test=r2_score(y_test, y_pred_test)
    RMSE_test=np.sqrt(mean_squared_error(y_test,y_pred_test))
    
    tabla2.add_row([v,RMSE_train,RMSE_test,r2_train,r2_test])
print(tabla2)

+---------+-------------------+--------------------+--------------------+--------------------+
| Vecinos |     RMSE_train    |     RMSE_test      |      R2_train      |      R2_test       |
+---------+-------------------+--------------------+--------------------+--------------------+
|    5    | 82529.21761136969 | 250722.86664914983 | 0.9247375842811643 | 0.5149939061744115 |
|    6    | 81058.12818245593 | 253998.59713370862 | 0.9273967871993813 | 0.5022377671962475 |
|    7    |  81034.1715803408 | 251363.6826309014  | 0.9274396963879543 | 0.5125115092342079 |
|    8    | 82626.57260737292 | 255159.44536038095 | 0.9245599140180359 | 0.4976775308010575 |
|    9    | 80474.93367880234 | 253989.05518266658 | 0.9284377555978437 | 0.5022751653054904 |
|    10   | 83652.69686629537 | 253367.31656356048 | 0.9226745259215388 | 0.5047089394283703 |
+---------+-------------------+--------------------+--------------------+--------------------+

Para este caso la imputacion de valore faltantes da como resultado 5 vecinos

## Imputacion iteractiva

In [28]:
imp_order = ['ascending', 'descending', 'roman', 'arabic','random']
tabla3 = PrettyTable()
tabla3.field_names = ["Imputation order", "RMSE_train", "RMSE_test", "R2_train", "R2_test"]
for io in imp_order:
    iter_imputer=IterativeImputer(imputation_order=io, max_iter=20)
    iter_imputer.fit(X)
    X_iter= iter_imputer.transform(X)
    X_train,X_test,y_train,y_test=train_test_split(X_iter,y,test_size=0.3,random_state=42)
    
    tree= DecisionTreeRegressor(max_depth=16,random_state=42)
    tree.fit(X_train,y_train)
    
    y_pred_test = tree.predict(X_test)
    y_pred_train= tree.predict(X_train)
    
    r2_train = r2_score(y_train, y_pred_train)
    RMSE_train= np.sqrt(mean_squared_error(y_train, y_pred_train))
    
    r2_test=r2_score(y_test, y_pred_test)
    RMSE_test=np.sqrt(mean_squared_error(y_test,y_pred_test))
    
    tabla3.add_row([io,RMSE_train,RMSE_test,r2_train,r2_test])
print(tabla3)

+------------------+-------------------+--------------------+--------------------+--------------------+
| Imputation order |     RMSE_train    |     RMSE_test      |      R2_train      |      R2_test       |
+------------------+-------------------+--------------------+--------------------+--------------------+
|    ascending     | 81179.84916608916 | 248018.69874592984 | 0.9271785741720276 | 0.5253995396333763 |
|    descending    | 80971.48402912034 | 250710.7682396241  | 0.9275519173995336 | 0.5150407121227575 |
|      roman       | 81179.84916608916 | 248018.69874592984 | 0.9271785741720276 | 0.5253995396333763 |
|      arabic      | 80971.48402912034 | 250710.7682396241  | 0.9275519173995336 | 0.5150407121227575 |
|      random      |  80796.036541331  | 251606.6001556006  | 0.9278655355440347 | 0.5115688375126792 |
+------------------+-------------------+--------------------+--------------------+--------------------+

Se decide a utilizar el metodo del KNN por su facilidad de uso y sus buenos resultados en tanto el training y testing con KNN=5

### Aplicacion del KNNimputer en el dataset

In [29]:
dp.isnull().sum()

created_on            0
lat                4376
lon                4390
l3                    0
rooms                 0
bedrooms              0
bathrooms          2139
surface_total      8717
surface_covered    9024
price                 0
property_type         0
dtype: int64

In [30]:
KNN_imputer=KNNImputer(n_neighbors=5)
KNN_imputer=KNN_imputer.fit(dp.iloc[:,5:9])
dp.iloc[:,5:9]=KNN_imputer.transform(dp.iloc[:,5:9])

In [31]:
KNN_imputer=KNNImputer(n_neighbors=5)
KNN_imputer=KNN_imputer.fit(dp.iloc[:,1:3])
dp.iloc[:,1:3]=KNN_imputer.transform(dp.iloc[:,1:3])

In [32]:
dp.isnull().sum()

created_on         0
lat                0
lon                0
l3                 0
rooms              0
bedrooms           0
bathrooms          0
surface_total      0
surface_covered    0
price              0
property_type      0
dtype: int64

In [33]:
fig =plt.subplots(figsize=(8,8))
sns.heatmap(dp.corr(), annot=True)

## Eliminacion y detencion de outliers

In [34]:
dp.shape

(89114, 11)

### Metodo IQR

In [35]:
for x in ["Casa","PH", "Departamento"]:
    Q1 = dp[dp["property_type"]==x]["price"].quantile(0.25)
    Q3 = dp[dp["property_type"]==x]["price"].quantile(0.75)
    IQR = Q3 - Q1
    lim_min = dp[dp["property_type"]==x]["price"].quantile(0.01)
    lim_max = Q3 + (IQR*1.5)
    print(x)
    print("el precio maximo es {}, el precio minimo es {} y el IQR {}" .format(lim_max,lim_min,IQR))
    print("-------------------------------------------------------------------")

Casa
el precio maximo es 826875.0, el precio minimo es 84810.0 y el IQR 234750.0
-------------------------------------------------------------------
PH
el precio maximo es 471112.5, el precio minimo es 65000.0 y el IQR 134075.0
-------------------------------------------------------------------
Departamento
el precio maximo es 495750.0, el precio minimo es 57000.0 y el IQR 150500.0
-------------------------------------------------------------------

In [36]:
dptos=dp[dp["property_type"]=="Departamento"]
phs=dp[dp["property_type"]=="PH"]
casas=dp[dp["property_type"]=="Casa"]

In [37]:
dptos= dptos[(dptos.price <= 495750.0) & (dptos.price >=150500.0) ]
phs=phs[(phs.price <= 471112.5) & (phs.price >=65000.0) ]
casas=casas[(casas.price <= 826875.0) & (casas.price >=84810.0) ]

In [38]:
figure,(ax1,ax2,ax3) = plt.subplots(3,constrained_layout=True,figsize=(10,10))
ax1.set_title("Relacion tipo de propiedad y precio(En miles de Dolares)")
ax2.set_title("Relacion tipo de propiedad y precio(En miles de Dolares)")
ax3.set_title("Relacion tipo de propiedad y precio(En miles Dolares)")
sns.boxplot(data=dptos,x="price",y="property_type",ax=ax1)
sns.boxplot(data=phs,x="price",y="property_type",ax=ax2)
sns.boxplot(data=casas,x="price",y="property_type",ax=ax3)
ax1.grid()
ax2.grid()
ax3.grid()
plt.show()

<ipython-input-38-bd61ce390c15>:11: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

#### Rooms

In [39]:
dp["rooms"].value_counts().sort_index()

1.0      8630
2.0     26511
3.0     27696
4.0     17865
5.0      5330
6.0      1770
7.0       684
8.0       392
9.0        73
10.0       77
11.0       28
12.0       35
13.0        2
14.0        4
15.0        7
16.0        3
18.0        4
21.0        1
26.0        2
Name: rooms, dtype: int64

In [40]:
rooms_min_list=[]
rooms_max_list=[]

for x in ["Casa","PH", "Departamento"]:
    Q1 = dp[dp["property_type"]==x]["rooms"].quantile(0.25)
    Q3 = dp[dp["property_type"]==x]["rooms"].quantile(0.75)
    IQR = Q3 - Q1
    lim_min = dp[dp["property_type"]==x]["rooms"].quantile(0.01)
    lim_max = Q3 + (IQR*1.5)
    
    rooms_min_list.append(lim_min)
    rooms_max_list.append(lim_max)
    
    print(x)
    print("el N maximo de habitaciones es {}, el N minimo de habitaciones es {} y el IQR {}" .format(lim_max,lim_min,IQR))
    print("-------------------------------------------------------------------")

Casa
el N maximo de habitaciones es 9.0, el N minimo de habitaciones es 2.0 y el IQR 2.0
-------------------------------------------------------------------
PH
el N maximo de habitaciones es 5.5, el N minimo de habitaciones es 1.3299999999999983 y el IQR 1.0
-------------------------------------------------------------------
Departamento
el N maximo de habitaciones es 7.0, el N minimo de habitaciones es 1.0 y el IQR 2.0
-------------------------------------------------------------------

Se observa que los valores entregados no son enteros entonces se procede a elevarlos al entero mas cercano

In [41]:
for i in rooms_max_list:
    floor_max=math.floor(i)
    print(floor_max)

9
5
7

In [42]:
dptos= dptos[(dptos.rooms <= 7.0) & (dptos.rooms >=1.0) ]
phs=phs[(phs.rooms <= 5.0) & (phs.rooms >=2.0) ]
casas=casas[(casas.rooms <= 9.0) & (casas.rooms >=2.0) ]

In [43]:
figure,(ax1,ax2,ax3) = plt.subplots(3,constrained_layout=True,figsize=(10,10))
ax1.set_title("Relacion tipo de propiedad y cantidad de habitaciones")
ax2.set_title("Relacion tipo de propiedad y cantidad de habitaciones")
ax3.set_title("Relacion tipo de propiedad y cantidad de habitaciones")
sns.boxplot(data=dptos,x="rooms",y="property_type",ax=ax1)
sns.boxplot(data=phs,x="rooms",y="property_type",ax=ax2)
sns.boxplot(data=casas,x="rooms",y="property_type",ax=ax3)
ax1.grid()
ax2.grid()
ax3.grid()
plt.show()

<ipython-input-43-ac006cc3aac8>:11: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

#### Baños

In [44]:
dp["bathrooms"] = dp["bathrooms"].astype("int32")
dp["bathrooms"].value_counts().sort_index()

1     55038
2     23375
3      7529
4      2308
5       664
6       140
7        38
8         4
9         4
10        7
11        3
12        1
14        3
Name: bathrooms, dtype: int64

In [45]:
bath_min_list=[]
bath_max_list=[]

for x in ["Casa","PH", "Departamento"]:
    Q1 = dp[dp["property_type"]==x]["bathrooms"].quantile(0.25)
    Q3 = dp[dp["property_type"]==x]["bathrooms"].quantile(0.75)
    IQR = Q3 - Q1
    lim_min = dp[dp["property_type"]==x]["bathrooms"].quantile(0.01)
    lim_max = Q3 + (IQR*1.5)
    
    bath_min_list.append(lim_min)
    bath_max_list.append(lim_max)
    
    print(x)
    print("el N maximo de baños es {}, el N minimo de baños es {} y el IQR {}" .format(lim_max,lim_min,IQR))
    print("-------------------------------------------------------------------")

Casa
el N maximo de baños es 4.5, el N minimo de baños es 1.0 y el IQR 1.0
-------------------------------------------------------------------
PH
el N maximo de baños es 3.5, el N minimo de baños es 1.0 y el IQR 1.0
-------------------------------------------------------------------
Departamento
el N maximo de baños es 3.5, el N minimo de baños es 1.0 y el IQR 1.0
-------------------------------------------------------------------

In [46]:
for i in bath_max_list:
    b_floor_max=math.floor(i)
    print(b_floor_max)

4
3
3

In [47]:
dptos= dptos[(dptos.bathrooms <= 3.0) & (dptos.bathrooms >=1.0) ]
phs=phs[(phs.bathrooms <= 3.0) & (phs.bathrooms >=1.0) ]
casas=casas[(casas.bathrooms <= 4.0) & (casas.bathrooms >=1.0) ]

In [48]:
figure,(ax1,ax2,ax3) = plt.subplots(3,constrained_layout=True,figsize=(10,10))
ax1.set_title("Relacion tipo de propiedad y cantidad de baños")
ax2.set_title("Relacion tipo de propiedad y cantidad de baños")
ax3.set_title("Relacion tipo de propiedad y cantidad de baños")
sns.boxplot(data=dptos,x="bathrooms",y="property_type",ax=ax1)
sns.boxplot(data=phs,x="bathrooms",y="property_type",ax=ax2)
sns.boxplot(data=casas,x="bathrooms",y="property_type",ax=ax3)
ax1.grid()
ax2.grid()
ax3.grid()
plt.show()

<ipython-input-48-7e517859cb12>:11: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

#### Bedrooms

In [49]:
dp["bedrooms"].value_counts().sort_index()

0.0      2189
1.0     33166
2.0     28464
3.0     19224
4.0      4711
5.0       796
6.0       305
7.0       174
8.0        33
9.0        16
10.0       13
11.0        4
12.0        9
13.0        2
14.0        2
15.0        6
Name: bedrooms, dtype: int64

In [50]:
bedr_min_list=[]
bedr_max_list=[]

for x in ["Casa","PH", "Departamento"]:
    Q1 = dp[dp["property_type"]==x]["bedrooms"].quantile(0.25)
    Q3 = dp[dp["property_type"]==x]["bedrooms"].quantile(0.75)
    IQR = Q3 - Q1
    lim_min = dp[dp["property_type"]==x]["bedrooms"].quantile(0.01)
    lim_max = Q3 + (IQR*1.5)
    
    bedr_min_list.append(lim_min)
    bedr_max_list.append(lim_max)
    
    print(x)
    print("el N maximo de dormitorios es {}, el N minimo de dormitorios es {} y el IQR {}" .format(lim_max,lim_min,IQR))
    print("-------------------------------------------------------------------")

Casa
el N maximo de dormitorios es 5.5, el N minimo de dormitorios es 1.0 y el IQR 1.0
-------------------------------------------------------------------
PH
el N maximo de dormitorios es 4.5, el N minimo de dormitorios es 1.0 y el IQR 1.0
-------------------------------------------------------------------
Departamento
el N maximo de dormitorios es 3.5, el N minimo de dormitorios es 0.0 y el IQR 1.0
-------------------------------------------------------------------

In [51]:
for i in bedr_max_list:
    br_floor_max=math.floor(i)
    print(br_floor_max)

5
4
3

In [52]:
dptos= dptos[(dptos.bedrooms <= 3.0) & (dptos.bedrooms >=0.0) ]
phs=phs[(phs.bedrooms <= 4.0) & (phs.bedrooms >=1.0) ]
casas=casas[(casas.bedrooms <= 5.0) & (casas.bedrooms >=1.0) ]

In [53]:
figure,(ax1,ax2,ax3) = plt.subplots(3,constrained_layout=True,figsize=(10,10))
ax1.set_title("Relacion tipo de propiedad y cantidad de dormitorios")
ax2.set_title("Relacion tipo de propiedad y cantidad de dormitorios")
ax3.set_title("Relacion tipo de propiedad y cantidad de dormitorios")
sns.boxplot(data=dptos,x="bedrooms",y="property_type",ax=ax1)
sns.boxplot(data=phs,x="bedrooms",y="property_type",ax=ax2)
sns.boxplot(data=casas,x="bedrooms",y="property_type",ax=ax3)
ax1.grid()
ax2.grid()
ax3.grid()
plt.show()

<ipython-input-53-8cbfea63a111>:11: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

#### surface_total

In [54]:
surfT_min_list=[]
surfT_max_list=[]

for x in ["Casa","PH", "Departamento"]:
    Q1 = dp[dp["property_type"]==x]["surface_total"].quantile(0.25)
    Q3 = dp[dp["property_type"]==x]["surface_total"].quantile(0.75)
    IQR = Q3 - Q1
    lim_min = dp[dp["property_type"]==x]["surface_total"].quantile(0.01)
    lim_max = Q3 + (IQR*1.5)
    
    surfT_min_list.append(lim_min)
    surfT_max_list.append(lim_max)
    
    print(x)
    print("el maximo de surface total es {}, el minimo de surface total es {} y el IQR {}" .format(lim_max,lim_min,IQR))
    print("-------------------------------------------------------------------")

Casa
el maximo de surface total es 571.875, el minimo de surface total es 41.6 y el IQR 166.75
-------------------------------------------------------------------
PH
el maximo de surface total es 275.0, el minimo de surface total es 35.0 y el IQR 82.0
-------------------------------------------------------------------
Departamento
el maximo de surface total es 177.5, el minimo de surface total es 26.0 y el IQR 53.0
-------------------------------------------------------------------

In [55]:
dptos= dptos[(dptos.surface_total <= 182.91) & (dptos.surface_total >=26.0) ]
phs=phs[(phs.surface_total <= 275.0) & (phs.surface_total >=35.0) ]
casas=casas[(casas.surface_total <= 583.12) & (casas.surface_total >=56.81) ]

In [56]:
figure,(ax1,ax2,ax3) = plt.subplots(3,constrained_layout=True,figsize=(10,10))
ax1.set_title("Relacion tipo de propiedad y superficie total")
ax2.set_title("Relacion tipo de propiedad y superficie total")
ax3.set_title("Relacion tipo de propiedad y superficie total")
sns.boxplot(data=dptos,x="surface_total",y="property_type",ax=ax1)
sns.boxplot(data=phs,x="surface_total",y="property_type",ax=ax2)
sns.boxplot(data=casas,x="surface_total",y="property_type",ax=ax3)
ax1.grid()
ax2.grid()
ax3.grid()
plt.show()

<ipython-input-56-1887492bbe6f>:11: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [57]:
conc_1=[dptos,phs,casas]
dp= pd.concat(conc_1)

In [58]:
dp.head(5)

,created_on,lat,lon,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,property_type
24,2019-10-17,-34.636661,-58.471170,Flores,2.0,1.0,1.0,58.0,48.0,154000.0,Departamento
34,2019-10-17,-34.590031,-58.423771,Palermo,2.0,1.0,1.0,52.0,48.0,188000.0,Departamento
35,2019-10-17,-34.599037,-58.435970,Palermo,2.0,1.0,2.0,81.0,76.0,410000.0,Departamento
36,2019-10-17,-34.599037,-58.435970,Palermo,2.0,1.0,1.0,42.0,38.0,169000.0,Departamento
38,2019-10-17,-34.597613,-58.416688,Palermo,2.0,1.0,1.0,49.0,41.0,169000.0,Departamento

In [59]:
dp.shape

(45383, 11)

In [60]:
fig =plt.subplots(figsize=(8,8))
sns.heatmap(dp.corr(), annot=True)

### Enconding

In [61]:
dp.head()

,created_on,lat,lon,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,property_type
24,2019-10-17,-34.636661,-58.471170,Flores,2.0,1.0,1.0,58.0,48.0,154000.0,Departamento
34,2019-10-17,-34.590031,-58.423771,Palermo,2.0,1.0,1.0,52.0,48.0,188000.0,Departamento
35,2019-10-17,-34.599037,-58.435970,Palermo,2.0,1.0,2.0,81.0,76.0,410000.0,Departamento
36,2019-10-17,-34.599037,-58.435970,Palermo,2.0,1.0,1.0,42.0,38.0,169000.0,Departamento
38,2019-10-17,-34.597613,-58.416688,Palermo,2.0,1.0,1.0,49.0,41.0,169000.0,Departamento

In [62]:
dp["fechas"]=pd.to_datetime(dp.created_on, format="%Y-%m-%d")
dp.drop("created_on", axis=1,inplace = True)
dp.head()

,lat,lon,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,property_type,fechas
24,-34.636661,-58.471170,Flores,2.0,1.0,1.0,58.0,48.0,154000.0,Departamento,2019-10-17
34,-34.590031,-58.423771,Palermo,2.0,1.0,1.0,52.0,48.0,188000.0,Departamento,2019-10-17
35,-34.599037,-58.435970,Palermo,2.0,1.0,2.0,81.0,76.0,410000.0,Departamento,2019-10-17
36,-34.599037,-58.435970,Palermo,2.0,1.0,1.0,42.0,38.0,169000.0,Departamento,2019-10-17
38,-34.597613,-58.416688,Palermo,2.0,1.0,1.0,49.0,41.0,169000.0,Departamento,2019-10-17

In [63]:
dp["año"]= pd.DatetimeIndex(dp["fechas"]).year
dp.drop("fechas",axis=1,inplace=True)
dp.head()

,lat,lon,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,property_type,año
24,-34.636661,-58.471170,Flores,2.0,1.0,1.0,58.0,48.0,154000.0,Departamento,2019
34,-34.590031,-58.423771,Palermo,2.0,1.0,1.0,52.0,48.0,188000.0,Departamento,2019
35,-34.599037,-58.435970,Palermo,2.0,1.0,2.0,81.0,76.0,410000.0,Departamento,2019
36,-34.599037,-58.435970,Palermo,2.0,1.0,1.0,42.0,38.0,169000.0,Departamento,2019
38,-34.597613,-58.416688,Palermo,2.0,1.0,1.0,49.0,41.0,169000.0,Departamento,2019

In [64]:
Labelencoder = LabelEncoder()
Labelencoder.fit(dp["año"])
dp["años"] = Labelencoder.transform(dp["año"])
dp.drop("año", axis=1, inplace=True)
dp.head(10)

,lat,lon,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,property_type,años
24,-34.636661,-58.471170,Flores,2.0,1.0,1.0,58.0,48.0,154000.0,Departamento,0
34,-34.590031,-58.423771,Palermo,2.0,1.0,1.0,52.0,48.0,188000.0,Departamento,0
35,-34.599037,-58.435970,Palermo,2.0,1.0,2.0,81.0,76.0,410000.0,Departamento,0
36,-34.599037,-58.435970,Palermo,2.0,1.0,1.0,42.0,38.0,169000.0,Departamento,0
38,-34.597613,-58.416688,Palermo,2.0,1.0,1.0,49.0,41.0,169000.0,Departamento,0
43,-34.597613,-58.416688,Palermo,2.0,1.0,1.0,49.0,41.0,169000.0,Departamento,0
45,-34.597613,-58.416688,Palermo,2.0,1.0,1.0,49.0,41.0,169000.0,Departamento,0
46,-34.599037,-58.435970,Palermo,2.0,1.0,1.0,52.0,46.0,159500.0,Departamento,0
49,-34.597613,-58.416688,Palermo,2.0,1.0,1.0,49.0,41.0,169000.0,Departamento,0
50,-34.583199,-58.433708,Palermo,2.0,1.0,1.0,54.0,54.0,240000.0,Departamento,0

In [65]:
Labelencoder= LabelEncoder()
Labelencoder.fit(dp["property_type"])
dp["Tipo_propiedad"]=Labelencoder.transform(dp["property_type"])
dp.drop("property_type",axis=1,inplace=True)

In [66]:
list(Labelencoder.classes_)

['Casa', 'Departamento', 'PH']

### Casa = 0, Dpto = 1 y PH = 2

In [67]:
Labelencoder.transform(["Casa", "Departamento", "PH"])

array([0, 1, 2])

In [68]:
dp.head()

,lat,lon,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,años,Tipo_propiedad
24,-34.636661,-58.471170,Flores,2.0,1.0,1.0,58.0,48.0,154000.0,0,1
34,-34.590031,-58.423771,Palermo,2.0,1.0,1.0,52.0,48.0,188000.0,0,1
35,-34.599037,-58.435970,Palermo,2.0,1.0,2.0,81.0,76.0,410000.0,0,1
36,-34.599037,-58.435970,Palermo,2.0,1.0,1.0,42.0,38.0,169000.0,0,1
38,-34.597613,-58.416688,Palermo,2.0,1.0,1.0,49.0,41.0,169000.0,0,1

### Desafio

In [69]:
dataset_cluster= dp.copy()

In [70]:
dp = pd.get_dummies(data=dp,prefix="barrio",columns=["l3"],drop_first=True)
dp.head()

,lat,lon,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,años,Tipo_propiedad,...,barrio_Villa Lugano,barrio_Villa Luro,barrio_Villa Ortuzar,barrio_Villa Pueyrredón,barrio_Villa Real,barrio_Villa Riachuelo,barrio_Villa Santa Rita,barrio_Villa Soldati,barrio_Villa Urquiza,barrio_Villa del Parque
24,-34.636661,-58.471170,2.0,1.0,1.0,58.0,48.0,154000.0,0,1,...,0,0,0,0,0,0,0,0,0,0
34,-34.590031,-58.423771,2.0,1.0,1.0,52.0,48.0,188000.0,0,1,...,0,0,0,0,0,0,0,0,0,0
35,-34.599037,-58.435970,2.0,1.0,2.0,81.0,76.0,410000.0,0,1,...,0,0,0,0,0,0,0,0,0,0
36,-34.599037,-58.435970,2.0,1.0,1.0,42.0,38.0,169000.0,0,1,...,0,0,0,0,0,0,0,0,0,0
38,-34.597613,-58.416688,2.0,1.0,1.0,49.0,41.0,169000.0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [71]:
dp["Tipo_propiedad"].head

<bound method NDFrame.head of 24        1
34        1
35        1
36        1
38        1
         ..
145556    0
145557    0
145608    0
145610    0
145615    0
Name: Tipo_propiedad, Length: 45383, dtype: int32>

In [72]:
dp.shape

(45383, 66)

In [73]:
fig =plt.subplots(figsize=(8,8))
dataset_prob=dp[["lat","lon","rooms","bedrooms","bathrooms","surface_total","surface_covered","price","años","Tipo_propiedad"]]
dataset_prob.head()
sns.heatmap(dataset_prob.corr(), annot=True)

### Escalada de datos

In [74]:
dp1 = dp.copy()
X = dp1.drop("price",axis=1)
y = dp1["price"]

In [75]:
from sklearn import preprocessing

In [76]:
robust_sc = preprocessing.RobustScaler()
standard_sc = preprocessing.StandardScaler() 
minmax_sc = preprocessing.MinMaxScaler()

In [77]:
from sklearn import metrics
from sklearn.metrics import mean_squared_error
resultado = []
for x in [robust_sc,standard_sc,minmax_sc]:
    scaler = x.fit(X)
    X_new = x.transform(X)
    tree = DecisionTreeRegressor(max_depth=10,random_state=42)
    tree.fit(X_new,y)
    y_pred = tree.predict(X_new)
    r2 = metrics.r2_score(y, y_pred)
    RMSE=np.sqrt(mean_squared_error(y,y_pred))
    resultado.append(r2)
    print("El escalado Utilizado--->",x)
    print("RMSE segun el tipo de estrategia:",RMSE)
    print("----------------------------------------")

El escalado Utilizado---> RobustScaler()
RMSE segun el tipo de estrategia: 44172.628774222336
----------------------------------------
El escalado Utilizado---> StandardScaler()
RMSE segun el tipo de estrategia: 44172.628774222336
----------------------------------------
El escalado Utilizado---> MinMaxScaler()
RMSE segun el tipo de estrategia: 44172.628774222336
----------------------------------------

El escalado se probó de 3 diferentes maneras, dando como resultado co un RMSE mejor la estrategia RobusScaler() y la estrategia MinmaxScaler()

In [78]:
X = dp.drop("price", axis=1).values
y = dp["price"].values

In [79]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=42)

In [80]:
X_train.shape,X_test.shape

((31768, 65), (13615, 65))

#### Escalado sin tratar Y

In [82]:
for x in [robust_sc,standard_sc,minmax_sc]:
    scaler = x.fit(X_train)
    X_train_new = x.transform(X_train)
    X_test_new = x.transform(X_test)
    
    
    tree = DecisionTreeRegressor(max_depth=10,random_state=42)
    tree.fit(X_train_new,y_train)
    
    y_pred = tree.predict(X_test_new)
    r2 = metrics.r2_score(y_test, y_pred)
    RMSE=np.sqrt(mean_squared_error(y_test,y_pred))
    resultado.append(r2)
    print("El escalado utilizado--->",x)
    print("R2 segun el tipo de estrategia:",r2)
    print("RMSE segun el tipo de estrategia:",RMSE)
    print("----------------------------------------")

El escalado utilizado---> RobustScaler()
R2 segun el tipo de estrategia: 0.698833197648755
RMSE segun el tipo de estrategia: 49972.637085123315
----------------------------------------
El escalado utilizado---> StandardScaler()
R2 segun el tipo de estrategia: 0.6988584177183541
RMSE segun el tipo de estrategia: 49970.54465700434
----------------------------------------
El escalado utilizado---> MinMaxScaler()
R2 segun el tipo de estrategia: 0.698833197648755
RMSE segun el tipo de estrategia: 49972.637085123315
----------------------------------------

#### Aplicacion de MinMaxScaler

In [83]:
minmax_sc = preprocessing.MinMaxScaler()
X_train = minmax_sc.fit_transform(X_train)
X_test = minmax_sc.transform(X_test)

In [84]:
tree = DecisionTreeRegressor(max_depth= 16, random_state = 42)
tree.fit(X_train, y_train)

y_pred= tree.predict(X_test)
r2 = metrics.r2_score(y_test, y_pred)
RMSE=np.sqrt(mean_squared_error(y_test,y_pred))


print("R2 segun el tipo de estrategia:",r2)
print("RMSE segun el tipo de estrategia:",RMSE)

R2 segun el tipo de estrategia: 0.7416190963023834
RMSE segun el tipo de estrategia: 46286.98846497736

Se realizará una copia de X_train y X_test antes de ser sometido a PCA para poder ser utilizado en la parte C de este proyecto

In [85]:
X_full_test =X_test.copy()
X_full_train = X_train.copy()

### PCA o STD

In [93]:
pca_p=PCA

""""for i in range(2,65):
    pca_p=PCA(n_components=i,random_state=42)
    X_train_new=pca_p.fit_transform(X_train)
    X_test_new=pca_p.transform(X_test)
    
    tree = DecisionTreeRegressor(max_depth=10,random_state=42)
    tree.fit(X_train_new,y_train)
    
    y_pred = tree.predict(X_test_new)
    r2 = metrics.r2_score(y_test, y_pred)
    RMSE=np.sqrt(mean_squared_error(y_test,y_pred))
    print("----------------------------------------")
    print("modelo:",i)
    print("R2 segun el tipo de estrategia:",r2)
    print("RMSE segun el tipo de estrategia:",RMSE)
    print("----------------------------------------")"""

----------------------------------------
modelo: 2
R2 segun el tipo de estrategia: 0.35257853639916936
RMSE segun el tipo de estrategia: 73269.33767529958
----------------------------------------
----------------------------------------
modelo: 3
R2 segun el tipo de estrategia: 0.46261945577516683
RMSE segun el tipo de estrategia: 66752.83093437464
----------------------------------------
----------------------------------------
modelo: 4
R2 segun el tipo de estrategia: 0.4873308952684009
RMSE segun el tipo de estrategia: 65199.954423279545
----------------------------------------
----------------------------------------
modelo: 5
R2 segun el tipo de estrategia: 0.5566998967437151
RMSE segun el tipo de estrategia: 60628.613325193495
----------------------------------------
----------------------------------------
modelo: 6
R2 segun el tipo de estrategia: 0.5714160111057105
RMSE segun el tipo de estrategia: 59613.78409996033
----------------------------------------
----------------------------------------
modelo: 7
R2 segun el tipo de estrategia: 0.5826246778702446
RMSE segun el tipo de estrategia: 58829.08623237109
----------------------------------------
----------------------------------------
modelo: 8
R2 segun el tipo de estrategia: 0.5852329719791934
RMSE segun el tipo de estrategia: 58644.97851116233
----------------------------------------
----------------------------------------
modelo: 9
R2 segun el tipo de estrategia: 0.5738569310630283
RMSE segun el tipo de estrategia: 59443.782121364544
----------------------------------------
----------------------------------------
modelo: 10
R2 segun el tipo de estrategia: 0.557941272128903
RMSE segun el tipo de estrategia: 60543.66451589745
----------------------------------------
----------------------------------------
modelo: 11
R2 segun el tipo de estrategia: 0.5753164484164012
RMSE segun el tipo de estrategia: 59341.8989138092
----------------------------------------
----------------------------------------
modelo: 12
R2 segun el tipo de estrategia: 0.5775284818864962
RMSE segun el tipo de estrategia: 59187.151169124685
----------------------------------------
----------------------------------------
modelo: 13
R2 segun el tipo de estrategia: 0.573931421612492
RMSE segun el tipo de estrategia: 59438.58645606146
----------------------------------------
----------------------------------------
modelo: 14
R2 segun el tipo de estrategia: 0.5687128879784409
RMSE segun el tipo de estrategia: 59801.483726899714
----------------------------------------
----------------------------------------
modelo: 15
R2 segun el tipo de estrategia: 0.5743696768911021
RMSE segun el tipo de estrategia: 59408.00924663463
----------------------------------------
----------------------------------------
modelo: 16
R2 segun el tipo de estrategia: 0.5718068067090812
RMSE segun el tipo de estrategia: 59586.599092549295
----------------------------------------
----------------------------------------
modelo: 17
R2 segun el tipo de estrategia: 0.5790874736016212
RMSE segun el tipo de estrategia: 59077.844911922904
----------------------------------------
----------------------------------------
modelo: 18
R2 segun el tipo de estrategia: 0.5728807756176051
RMSE segun el tipo de estrategia: 59511.82638155692
----------------------------------------
----------------------------------------
modelo: 19
R2 segun el tipo de estrategia: 0.5803912374181426
RMSE segun el tipo de estrategia: 58986.278031862756
----------------------------------------
----------------------------------------
modelo: 20
R2 segun el tipo de estrategia: 0.5724296139143791
RMSE segun el tipo de estrategia: 59543.24895511486
----------------------------------------
----------------------------------------
modelo: 21
R2 segun el tipo de estrategia: 0.5897184893411318
RMSE segun el tipo de estrategia: 58327.007067861545
----------------------------------------
----------------------------------------
modelo: 22
R2 segun el tipo de estrategia: 0.6008386400399475
RMSE segun el tipo de estrategia: 57531.13815834853
----------------------------------------
----------------------------------------
modelo: 23
R2 segun el tipo de estrategia: 0.5990350176801507
RMSE segun el tipo de estrategia: 57660.96973269667
----------------------------------------
----------------------------------------
modelo: 24
R2 segun el tipo de estrategia: 0.6117384581721342
RMSE segun el tipo de estrategia: 56740.20577979536
----------------------------------------
----------------------------------------
modelo: 25
R2 segun el tipo de estrategia: 0.5968148462558971
RMSE segun el tipo de estrategia: 57820.38579361536
----------------------------------------
----------------------------------------
modelo: 26
R2 segun el tipo de estrategia: 0.5942801805841071
RMSE segun el tipo de estrategia: 58001.84799892763
----------------------------------------
----------------------------------------
modelo: 27
R2 segun el tipo de estrategia: 0.6011213011427688
RMSE segun el tipo de estrategia: 57510.76457449285
----------------------------------------
----------------------------------------
modelo: 28
R2 segun el tipo de estrategia: 0.6383794035873772
RMSE segun el tipo de estrategia: 54758.97347667529
----------------------------------------
----------------------------------------
modelo: 29
R2 segun el tipo de estrategia: 0.605527762793457
RMSE segun el tipo de estrategia: 57192.21815963967
----------------------------------------
----------------------------------------
modelo: 30
R2 segun el tipo de estrategia: 0.6024989687352962
RMSE segun el tipo de estrategia: 57411.36186387588
----------------------------------------
----------------------------------------
modelo: 31
R2 segun el tipo de estrategia: 0.6070938542960841
RMSE segun el tipo de estrategia: 57078.57603999713
----------------------------------------
----------------------------------------
modelo: 32
R2 segun el tipo de estrategia: 0.6141662485069167
RMSE segun el tipo de estrategia: 56562.530004182874
----------------------------------------
----------------------------------------
modelo: 33
R2 segun el tipo de estrategia: 0.6361378873479075
RMSE segun el tipo de estrategia: 54928.423875790235
----------------------------------------
----------------------------------------
modelo: 34
R2 segun el tipo de estrategia: 0.6154921404858809
RMSE segun el tipo de estrategia: 56465.25968371996
----------------------------------------
----------------------------------------
modelo: 35
R2 segun el tipo de estrategia: 0.632091098753847
RMSE segun el tipo de estrategia: 55233.0297662196
----------------------------------------
----------------------------------------
modelo: 36
R2 segun el tipo de estrategia: 0.6329116214974314
RMSE segun el tipo de estrategia: 55171.40411146566
----------------------------------------
----------------------------------------
modelo: 37
R2 segun el tipo de estrategia: 0.6435880081320846
RMSE segun el tipo de estrategia: 54363.18250279687
----------------------------------------
----------------------------------------
modelo: 38
R2 segun el tipo de estrategia: 0.6474631904354998
RMSE segun el tipo de estrategia: 54066.83583712125
----------------------------------------
----------------------------------------
modelo: 39
R2 segun el tipo de estrategia: 0.6632172066479181
RMSE segun el tipo de estrategia: 52844.97131269603
----------------------------------------
----------------------------------------
modelo: 40
R2 segun el tipo de estrategia: 0.6575548756467532
RMSE segun el tipo de estrategia: 53287.360988621425
----------------------------------------
----------------------------------------
modelo: 41
R2 segun el tipo de estrategia: 0.6559289966521782
RMSE segun el tipo de estrategia: 53413.71146216288
----------------------------------------
----------------------------------------
modelo: 42
R2 segun el tipo de estrategia: 0.6571042937001605
RMSE segun el tipo de estrategia: 53322.40664741605
----------------------------------------
----------------------------------------
modelo: 43
R2 segun el tipo de estrategia: 0.6504527393297079
RMSE segun el tipo de estrategia: 53837.10155554901
----------------------------------------

----------------------------------------
modelo: 44
R2 segun el tipo de estrategia: 0.6553528906708121
RMSE segun el tipo de estrategia: 53458.41021349209
----------------------------------------

In [94]:
svd=TruncatedSVD

""""for i in range(2,65):
    svd=TruncatedSVD(n_components=i,random_state=42)
    X_train_new=svd.fit_transform(X_train)
    X_test_new=svd.transform(X_test)
    
    tree = DecisionTreeRegressor(max_depth=10,random_state=42)
    tree.fit(X_train_new,y_train)
    
    y_pred = tree.predict(X_test_new)
    r2 = metrics.r2_score(y_test, y_pred)
    RMSE=np.sqrt(mean_squared_error(y_test,y_pred))
    print("----------------------------------------")
    print("modelo:",i)
    print("R2 segun el tipo de estrategia:",r2)
    print("RMSE segun el tipo de estrategia:",RMSE)
    print("----------------------------------------")"""

----------------------------------------
modelo: 2
R2 segun el tipo de estrategia: 0.353878038953894
RMSE segun el tipo de estrategia: 73195.76773437076
----------------------------------------
----------------------------------------
modelo: 3
R2 segun el tipo de estrategia: 0.45877492600366776
RMSE segun el tipo de estrategia: 66991.18705052555
----------------------------------------
----------------------------------------
modelo: 4
R2 segun el tipo de estrategia: 0.49194757190784244
RMSE segun el tipo de estrategia: 64905.721917518524
----------------------------------------
----------------------------------------
modelo: 5
R2 segun el tipo de estrategia: 0.5804801637180228
RMSE segun el tipo de estrategia: 58980.02731708026
----------------------------------------
----------------------------------------
modelo: 6
R2 segun el tipo de estrategia: 0.5827688786779605
RMSE segun el tipo de estrategia: 58818.92279654583
----------------------------------------
----------------------------------------
modelo: 7
R2 segun el tipo de estrategia: 0.5936501933213827
RMSE segun el tipo de estrategia: 58046.86213188414
----------------------------------------
----------------------------------------
modelo: 8
R2 segun el tipo de estrategia: 0.5873481404561938
RMSE segun el tipo de estrategia: 58495.252820091075
----------------------------------------
----------------------------------------
modelo: 9
R2 segun el tipo de estrategia: 0.5776094374861407
RMSE segun el tipo de estrategia: 59181.480063886156
----------------------------------------
----------------------------------------
modelo: 10
R2 segun el tipo de estrategia: 0.566115865718124
RMSE segun el tipo de estrategia: 59981.262678690975
----------------------------------------
----------------------------------------
modelo: 11
R2 segun el tipo de estrategia: 0.5818196517052595
RMSE segun el tipo de estrategia: 58885.79315403992
----------------------------------------
----------------------------------------
modelo: 12
R2 segun el tipo de estrategia: 0.5736096895305871
RMSE segun el tipo de estrategia: 59461.02379644614
----------------------------------------
----------------------------------------
modelo: 13
R2 segun el tipo de estrategia: 0.5804190160573037
RMSE segun el tipo de estrategia: 58984.32551585429
----------------------------------------
----------------------------------------
modelo: 14
R2 segun el tipo de estrategia: 0.5876372132503842
RMSE segun el tipo de estrategia: 58474.76054774752
----------------------------------------
----------------------------------------
modelo: 15
R2 segun el tipo de estrategia: 0.5828253407895745
RMSE segun el tipo de estrategia: 58814.94280466914
----------------------------------------
----------------------------------------
modelo: 16
R2 segun el tipo de estrategia: 0.587290161372369
RMSE segun el tipo de estrategia: 58499.36207340835
----------------------------------------
----------------------------------------
modelo: 17
R2 segun el tipo de estrategia: 0.578269836649387
RMSE segun el tipo de estrategia: 59135.19743843771
----------------------------------------
----------------------------------------
modelo: 18
R2 segun el tipo de estrategia: 0.5878072116595252
RMSE segun el tipo de estrategia: 58462.70606403242
----------------------------------------
----------------------------------------
modelo: 19
R2 segun el tipo de estrategia: 0.5857817542042701
RMSE segun el tipo de estrategia: 58606.16880331952
----------------------------------------
----------------------------------------
modelo: 20
R2 segun el tipo de estrategia: 0.5907738058346508
RMSE segun el tipo de estrategia: 58251.94508779315
----------------------------------------
----------------------------------------
modelo: 21
R2 segun el tipo de estrategia: 0.6015474153836531
RMSE segun el tipo de estrategia: 57480.037558712866
----------------------------------------
----------------------------------------
modelo: 22
R2 segun el tipo de estrategia: 0.6115719760993057
RMSE segun el tipo de estrategia: 56752.369249083604
----------------------------------------
----------------------------------------
modelo: 23
R2 segun el tipo de estrategia: 0.6078212324001597
RMSE segun el tipo de estrategia: 57025.71743765917
----------------------------------------
----------------------------------------
modelo: 24
R2 segun el tipo de estrategia: 0.6146320145114714
RMSE segun el tipo de estrategia: 56528.37946786168
----------------------------------------
----------------------------------------
modelo: 25
R2 segun el tipo de estrategia: 0.632217223018066
RMSE segun el tipo de estrategia: 55223.56163110759
----------------------------------------
----------------------------------------
modelo: 26
R2 segun el tipo de estrategia: 0.6133931831854258
RMSE segun el tipo de estrategia: 56619.16663760219
----------------------------------------
----------------------------------------
modelo: 27
R2 segun el tipo de estrategia: 0.6308377959569778
RMSE segun el tipo de estrategia: 55327.027026161115
----------------------------------------
----------------------------------------
modelo: 28
R2 segun el tipo de estrategia: 0.6322306294517271
RMSE segun el tipo de estrategia: 55222.55511610903
----------------------------------------
----------------------------------------
modelo: 29
R2 segun el tipo de estrategia: 0.6256330263143929
RMSE segun el tipo de estrategia: 55715.68616707353
----------------------------------------
----------------------------------------
modelo: 30
R2 segun el tipo de estrategia: 0.6289376590937008
RMSE segun el tipo de estrategia: 55469.23279726954
----------------------------------------
----------------------------------------
modelo: 31
R2 segun el tipo de estrategia: 0.6307443351316783
RMSE segun el tipo de estrategia: 55334.03015691519
----------------------------------------
----------------------------------------
modelo: 32
R2 segun el tipo de estrategia: 0.6188886333670989
RMSE segun el tipo de estrategia: 56215.31777450512
----------------------------------------
----------------------------------------
modelo: 33
R2 segun el tipo de estrategia: 0.6341052033282808
RMSE segun el tipo de estrategia: 55081.636625721316
----------------------------------------
----------------------------------------
modelo: 34
R2 segun el tipo de estrategia: 0.626184859325895
RMSE segun el tipo de estrategia: 55674.60736532719
----------------------------------------
----------------------------------------
modelo: 35
R2 segun el tipo de estrategia: 0.632091098753847
RMSE segun el tipo de estrategia: 55233.0297662196
----------------------------------------
----------------------------------------
modelo: 36
R2 segun el tipo de estrategia: 0.6329116214974314
RMSE segun el tipo de estrategia: 55171.40411146566
----------------------------------------
----------------------------------------
modelo: 37
R2 segun el tipo de estrategia: 0.6435880081320846
RMSE segun el tipo de estrategia: 54363.18250279687
----------------------------------------
----------------------------------------
modelo: 38
R2 segun el tipo de estrategia: 0.6474631904354998
RMSE segun el tipo de estrategia: 54066.83583712125
----------------------------------------
----------------------------------------
modelo: 39
R2 segun el tipo de estrategia: 0.6632172066479181
RMSE segun el tipo de estrategia: 52844.97131269603
----------------------------------------
----------------------------------------
modelo: 40
R2 segun el tipo de estrategia: 0.6575548756467532
RMSE segun el tipo de estrategia: 53287.360988621425
----------------------------------------
----------------------------------------
modelo: 41
R2 segun el tipo de estrategia: 0.6559289966521782
RMSE segun el tipo de estrategia: 53413.71146216288
----------------------------------------
----------------------------------------
modelo: 42
R2 segun el tipo de estrategia: 0.6571042937001605
RMSE segun el tipo de estrategia: 53322.40664741605
----------------------------------------
----------------------------------------
modelo: 43
R2 segun el tipo de estrategia: 0.6504527393297079
RMSE segun el tipo de estrategia: 53837.10155554901
----------------------------------------

----------------------------------------
modelo: 44
R2 segun el tipo de estrategia: 0.6553528906708121
RMSE segun el tipo de estrategia: 53458.41021349209
----------------------------------------

#### Aplicacion del PCA con 45

In [95]:
pca_p=PCA(n_components=45,random_state=42)
X_train=pca_p.fit_transform(X_train)
X_test=pca_p.transform(X_test)


tree = DecisionTreeRegressor(max_depth=10,random_state=42)
tree.fit(X_train,y_train)
    
y_pred = tree.predict(X_test)
r2 = metrics.r2_score(y_test, y_pred)
RMSE=np.sqrt(mean_squared_error(y_test,y_pred))
print("----------------------------------------")
print("R2 segun el tipo de estrategia:",r2)
print("RMSE segun el tipo de estrategia:",RMSE)
print("----------------------------------------")

----------------------------------------
R2 segun el tipo de estrategia: 0.6616366869905494
RMSE segun el tipo de estrategia: 52968.82673850531
----------------------------------------

In [96]:
X_train.shape,X_test.shape

((31768, 45), (13615, 45))

#### Plot CEV para PCA

In [97]:
pca = PCA(45).fit(X_test)
plt.plot(np.cumsum(pca.explained_variance_ratio_))
plt.title("Plot CEV para PCA")
plt.xlabel('Numero de componentes')
plt.ylabel('cumulative explained variance');

In [98]:
svd = TruncatedSVD(43).fit(X_test)
plt.plot(np.cumsum(pca.explained_variance_ratio_))
plt.title("Plot CEV para SVD")
plt.xlabel('Numero de componentes')
plt.ylabel('cumulative explained variance');

#### Reentreno del mejor modelo proyecto 1

Modelo de arbol de decision con optimizacion

Modelo: Árbol de Decisión
* R2 en Train: 0.9585691710990953
* R2 ajustado en train: 0.9585662487016275
--------------------------
* R2 en test: 0.7540545664790679
* R2 ajustado en Test: 0.7540140833000183
--------------------------
RMSE en train: 60555.3747024378
RMSE en test: 149916.0084953472

In [104]:
MAX_DEPTH_range = range(1, 21)
scores = []
arbol_r2_train_pred=[]
arbol_r2_test_pred=[]

for k in MAX_DEPTH_range:
    new_arbol_regressor = DecisionTreeRegressor(max_depth=k,random_state=42)
    new_arbol_regressor.fit(X_train, y_train)
    scores.append(new_arbol_regressor.score(X_test, y_test))
    
    y_train_pred = new_arbol_regressor.predict(X_train)
    arbol_r2_train = metrics.r2_score(y_train, y_train_pred)
    arbol_r2_train_pred.append(arbol_r2_train)
    
    y_test_pred = new_arbol_regressor.predict(X_test)
    arbol_r2_test = metrics.r2_score(y_test, y_test_pred)
    arbol_r2_test_pred.append(arbol_r2_test)
    
fig = plt.figure(figsize=(15,4))

ax1 = fig.add_subplot(121)
ax2 = fig.add_subplot(122)


ax1.scatter(MAX_DEPTH_range,scores,marker="o")
ax2.scatter(MAX_DEPTH_range,arbol_r2_train_pred,marker="o",label="train")
ax2.scatter(MAX_DEPTH_range,arbol_r2_test_pred,marker="o",label="test")

ax1.set_xticks(MAX_DEPTH_range)
ax2.set_xticks(MAX_DEPTH_range)

ax2.legend()


ax1.set_title('exactitud')
ax1.set_xlabel('max depth')
ax1.set_ylabel('exactitud')

ax2.set_title('r2')
ax2.set_xlabel('max depth')
ax2.set_ylabel('r2')

plt.show()

<ipython-input-104-814742c871a8>:43: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

### Parametros optimizados del proyecto 1

In [105]:
arbol_proyecto1 = DecisionTreeRegressor(max_depth= 19,random_state=42)
arbol_proyecto1.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=19, random_state=42)

### Parametros optimizados del proyecto 2

In [109]:
arbol_proyecto2 = DecisionTreeRegressor(max_depth= 10,random_state=42)
arbol_proyecto2.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=10, random_state=42)

In [110]:
models = ["Arbol Proyecto 1","Arbol Proyecto 2"]

for i, model in enumerate([arbol_proyecto1, arbol_proyecto2]):
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
   

    print(f'Modelo: {models[i]}')
    
    r2_train= metrics.r2_score(y_train, y_train_pred)
    r2_test= metrics.r2_score(y_test, y_test_pred)
    
    adj_r2_train = 1 - ((1 - r2_train) * (len(y_train) - 1)) / (len(y_train) - X_train.shape[1] - 1)
    adj_r2_test = 1 - ((1 - r2_test) * (len(y_test) - 1)) / (len(y_test) - X_test.shape[1] - 1)

    RMSE_train=np.sqrt(mean_squared_error(y_train,y_train_pred))
    RMSE_test=np.sqrt(mean_squared_error(y_test,y_test_pred))

    print("R2 en Train:", r2_train)
    print("R2 ajustado en train:", adj_r2_train)
    print("--------------------------")
    print("R2 en test:", r2_test)
    print("R2 ajustado en Test:", adj_r2_test)
    print("--------------------------")
    print("RMSE en train:",RMSE_train)
    print("RMSE en test:",RMSE_test)

    plt.figure(figsize = (14,4))
   
    ax = plt.subplot(1,2,2)
    ax.scatter(y_test,y_test_pred, s =2)
    
    lims = [
    np.min([ax.get_xlim(), ax.get_ylim()]),  # min of both axes
    np.max([ax.get_xlim(), ax.get_ylim()]),  # max of both axes]
    ]
    
    ax.plot(lims, lims, 'k-', alpha=0.75, zorder=0)
    plt.xlabel('y (test)')
    plt.ylabel('y_pred (test)')
    
    plt.tight_layout()
    plt.show()

Modelo: Arbol Proyecto 1
R2 en Train: 0.9706969669718024
R2 ajustado en train: 0.9706553984551178
--------------------------
R2 en test: 0.669790686232095
R2 ajustado en Test: 0.6686955857000325
--------------------------
RMSE en train: 15327.072697158026
RMSE en test: 52326.70382483324

<ipython-input-110-ccef25072357>:43: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()
<ipython-input-110-ccef25072357>:43: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

Modelo: Arbol Proyecto 2
R2 en Train: 0.7668907496286869
R2 ajustado en train: 0.7665600669394899
--------------------------
R2 en test: 0.6616366869905494
R2 ajustado en Test: 0.6605145446745773
--------------------------
RMSE en train: 43229.74600739396
RMSE en test: 52968.82673850531

Aunque vemos diferencia y un rendimiento menor en el train, en el test vemos un mejor resultado, lo que nos permite establacer un nuevo benchmark del proyecto 2

## Parte B

#### modelos a utilizar

+ Random Forest
+ BaggingReggresor
+ AdaboostRegressor
+ Stacking

In [111]:
y_train.min,y_train.max

(<function ndarray.min>, <function ndarray.max>)

In [112]:
y_test.min,y_test.max

(<function ndarray.min>, <function ndarray.max>)

### Random Forest Default

In [114]:
forest_def = RandomForestRegressor(random_state=42)

forest_def.fit(X_train,y_train)

RandomForestRegressor(random_state=42)

In [115]:
y_train_pred_RFD = forest_def.predict(X_train)
y_test_pred_RFD = forest_def.predict(X_test)

rmse_train_RFD = np.sqrt(mean_squared_error(y_train, y_train_pred_RFD))
rmse_test_RFD = np.sqrt(mean_squared_error(y_test, y_test_pred_RFD))

print("RMSE en Train es:",rmse_train_RFD)
print("RMSE en Test es:",rmse_test_RFD)

RMSE en Train es: 15605.317706272419
RMSE en Test es: 39123.77088181541

#### Random forest con gridsearch

In [116]:
forest = RandomForestRegressor(random_state=42)
params_forest = {
    "n_estimators":[500],
    "criterion":["mse"],
    "max_depth":[None],
    "max_features":["sqrt"],
    "bootstrap":[False]
}

In [117]:
model_RF = GridSearchCV(forest,param_grid=params_forest, cv=2,n_jobs=-1)
model_RF.fit(X_train,y_train)

GridSearchCV(cv=2, estimator=RandomForestRegressor(random_state=42), n_jobs=-1,
             param_grid={'bootstrap': [False], 'criterion': ['mse'],
                         'max_depth': [None], 'max_features': ['sqrt'],
                         'n_estimators': [500]})

#### Bagging Regressor

In [118]:
bagging = BaggingRegressor(random_state=42)
params_bagging={
    "n_estimators":[10],
    "bootstrap":[True],
    "warm_start":[True],   
}

In [120]:
model_bagging = GridSearchCV(bagging,param_grid=params_bagging, cv=2,n_jobs=-1)
model_bagging.fit(X_train,y_train)

GridSearchCV(cv=2, estimator=BaggingRegressor(random_state=42), n_jobs=-1,
             param_grid={'bootstrap': [True], 'n_estimators': [10],
                         'warm_start': [True]})

In [121]:
print("Mejores parametros: "+str(model_bagging.best_params_))
print("Mejor Score: "+str(model_bagging.best_score_)+'\n')

scores = pd.DataFrame(model_bagging.cv_results_)
scores.sort_values(by="rank_test_score")

Mejores parametros: {'bootstrap': True, 'n_estimators': 10, 'warm_start': True}
Mejor Score: 0.7439899583896032

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_bootstrap,param_n_estimators,param_warm_start,params,split0_test_score,split1_test_score,mean_test_score,std_test_score,rank_test_score
0,7.916203,0.074497,0.17483,0.016201,True,10,True,"{'bootstrap': True, 'n_estimators': 10, 'warm_...",0.741728,0.746251,0.74399,0.002262,1

In [122]:
bagging_gv=model_bagging.predict(X_test)

In [123]:
bagging_result=model_bagging.score(X_test,y_test)

In [124]:
y_train_pred_bagging = model_bagging.predict(X_train)
y_test_pred_bagging = model_bagging.predict(X_test)

rmse_train_bagging = np.sqrt(mean_squared_error(y_train, y_train_pred_bagging))
rmse_test_bagging = np.sqrt(mean_squared_error(y_test, y_test_pred_bagging))

print("RMSE en Train es:",rmse_train_bagging)
print("RMSE en Test es:",rmse_test_bagging)

RMSE en Train es: 18369.785710939974
RMSE en Test es: 41249.867631809

### AdaBoostRegressor

In [125]:
ada_boost=AdaBoostRegressor(random_state=42)
params_adaboost={
    "n_estimators":[50],
    "learning_rate":[0.1],
    "loss":["linear"]
    
}

In [126]:
model_ada = GridSearchCV(ada_boost,param_grid=params_adaboost, cv=2,n_jobs=-1)
model_ada.fit(X_train,y_train)

GridSearchCV(cv=2, estimator=AdaBoostRegressor(random_state=42), n_jobs=-1,
             param_grid={'learning_rate': [0.1], 'loss': ['linear'],
                         'n_estimators': [50]})

In [127]:
print("Mejores parametros: "+str(model_ada.best_params_))
print("Mejor Score: "+str(model_ada.best_score_)+'\n')

scores = pd.DataFrame(model_ada.cv_results_)
scores.sort_values(by="rank_test_score")

Mejores parametros: {'learning_rate': 0.1, 'loss': 'linear', 'n_estimators': 50}
Mejor Score: 0.42915703990317394

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_learning_rate,param_loss,param_n_estimators,params,split0_test_score,split1_test_score,mean_test_score,std_test_score,rank_test_score
0,16.268028,0.095106,0.302508,0.032644,0.1,linear,50,"{'learning_rate': 0.1, 'loss': 'linear', 'n_es...",0.425459,0.432855,0.429157,0.003698,1

In [128]:
ada_gv=model_ada.predict(X_test)

In [129]:
ada_result=model_ada.score(X_test,y_test)

In [130]:
y_train_pred_ada = model_ada.predict(X_train)
y_test_pred_ada = model_ada.predict(X_test)

rmse_train_ada = np.sqrt(mean_squared_error(y_train, y_train_pred_ada))
rmse_test_ada = np.sqrt(mean_squared_error(y_test, y_test_pred_ada))

print("RMSE en Train es:",rmse_train_ada)
print("RMSE en Test es:",rmse_test_ada)

RMSE en Train es: 67126.26660267294
RMSE en Test es: 67681.03138253487

#### StackingRegressor

In [131]:
estimadores = [
    ("kNN",KNeighborsRegressor()),
    ("DTR",DecisionTreeRegressor()),
    ("LR",LinearRegression())
]

In [132]:
stacking =StackingRegressor(estimators=estimadores)

In [133]:
stacking.fit(X_train,y_train)

StackingRegressor(estimators=[('kNN', KNeighborsRegressor()),
                              ('DTR', DecisionTreeRegressor()),
                              ('LR', LinearRegression())])

In [134]:
stack_gv=stacking.predict(X_test)

In [135]:
stack_result=stacking.score(X_test,y_test)
stack_result

0.7785126711217744

In [136]:
y_train_pred_stack = stacking.predict(X_train)
y_test_pred_stack = stacking.predict(X_test)

rmse_train_stack = np.sqrt(mean_squared_error(y_train, y_train_pred_stack))
rmse_test_stack = np.sqrt(mean_squared_error(y_test, y_test_pred_stack))

print("RMSE en Train es:",rmse_train_stack)
print("RMSE en Test es:",rmse_test_stack)

RMSE en Train es: 28812.72057114937
RMSE en Test es: 42855.16404809961

el modelo elegido es Random forrest
* RMSE en Train es: 15605.317706272419
* RMSE en Test es: 39123.77088181541

In [ ]:
## Parte C